<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'table1.css' %}" >
        

    </head>

    <div class="basic" >
		{% include "publicheader1.html" %}
	</div>

    <body>
        <table id="customers">
            <tr>  
                <th>HELPLINES</th>
                <th>CONTACT NUMBER</th>  
                
            </tr>           
            <tr>  
                <td><b>Women Helpline</b></td>
                <td><b>1091</b></td>
            </tr>
            <tr>  
                <td><b>Pink police</b></td>
                <td><b>1515</b></td>
            </tr>
            <tr>  
                <td><b>Domestic Abuse</b></td>
                <td><b>181</b></td>
            </tr>
            <tr>  
                <td><b>Child Helpline</b></td>
                <td><b>1098</b></td>
            </tr>
            <tr>  
                <td><b>Disha</b></td>
                <td><b>1056</b></td>
            </tr>
            <tr>  
                <td><b>police station</b></td>
                <td><b>100</b></td>
            </tr>
            <tr>  
                <td><b>Alert Control</b></td>
                <td><b>1090</b></td>
            </tr>
            
            <tr>  
                <td><b>Bodhini</b></td>
                <td><b>8891320005</b></td>
            </tr>
            <tr>  
                <td><b>Vanitha Helpline</b></td>
                <td><b>9995399953</b></td>
            </tr>
            <tr>  
                <td><b>State Vanitha Cell</b></td>
                <td><b>0471-2328100</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Kollam</b></td>
                <td><b>0474-2742376</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Pathanthitta</b></td>
                <td><b>9497987075</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Kottayam</b></td>
                <td><b>0481-2302977</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Idukki</b></td>
                <td><b>9745769386</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Kochi</b></td>
                <td><b>0484-2396730</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Thrissur</b></td>
                <td><b>9745796230</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Palakkad</b></td>
                <td><b>0491-2522340</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Malappuram</b></td>
                <td><b>9745769151</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Kozhikode</b></td>
                <td><b>0495-2724070</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell Wayanad</b></td>
                <td><b>9745769072</b></td>
            </tr>
            <tr>  
                <td><b>Women's Cell kannur</b></td>
                <td><b>9745769032</b></td>
            </tr>
        </table>
    </body>
</html>