<html>
    <head>
		{% load static %}
	</head>
		<link rel="stylesheet" href="{% static 'sample1.css' %}">

		<script type="text/javascript">
			function valid()
			   {
			   if(j1.contact.value.length!=10)
				   {
					   alert("phone number should be atleast 10...");
						j1.contact.focus();
					   return false;
				   }
			   return true;
   
			   }
		   </script>
		
	</head>

	<div class="basic" >
		{% include "victimheader.html" %}
	</div>


<div class="container" id="container">
	
	<div class="form-container sign-in-container">
		<form method="post" action="/register_awarnsvict2/"  name="j1">
			{% csrf_token %}
 
			<input type="text" placeholder="Participant_id" name="Participant_id"  value="{{ff}}"/><br>
			<input type="text" value="{{it}}" name="Awarenessprgm_id"/><br>
			<input type="text" placeholder="participant_name" name="participant_name" value="{{data2.name}}" required/><br>
            <input type="text" placeholder="address" name="address" value="{{data2.address}}"required/><br>
            <input type="number" placeholder="age" name="age" value="{{data2.age}}" required/><br>
            <input type="text" placeholder="sex" name="sex" value="{{data2.sex}}" required/><br>
            <input type="number" placeholder="contact" name="contact" value="{{data2.contact}}" required/><br>
            <input type="email" placeholder="email" name="email" value="{{data2.email}}" required/><br>

			<button onclick="return valid()">Register</button>
				
		</form>
	</div>
	
	<div class="overlay-container">
		<div class="overlay">
			
		</div>
	</div>
</div>