<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{% static 'table1.css' %}" >
        

    </head>

    <div class="basic" >
		{% include "publicheader1.html" %}
	</div>

    <body>
        <table id="customers">
            <tr>  
                <th>TYPES DOMESTIC VOLENCE</th>
                <th>VIOLENCE</th>  
                
            </tr>           
            <tr>  
                <td rowspan="9"><b>Physical Violence</b></td>
                <td><i>1.Beating</i></td>
            </tr>
            <tr> 
                <td><i>2.Slapping</i></td>             
            </tr>
            <tr> 
                <td><i>3.Hitting</i></td>
            </tr>
            <tr> 
                <td><i>4.Biting</i></td>
              
            </tr>
            <tr> 
                <td><i>5.Kicking</i></td>
              
            </tr>
            <tr> 
                <td><i>6.Punching</i></td>
              
            </tr>
            <tr> 
                <td><i>7.Pushing</i></td>
              
            </tr>
            <tr> 
                <td><i>8.Shoving</i></td>
              
            </tr>
            <tr> 
                <td><i>9.Causing bodily pain or injury in any other manner</i></td>
            
            </tr>

            <tr>  
                <td rowspan="4"><b>Sexual Violence</b></td>
                <td><i>1.Forced sexual intercourse</i></td>
            </tr>
            <tr> 
                <td><i>2.Forces you to look at pornography or any other obscene pictures or material</i></td>             
            </tr>
            <tr> 
                <td><i>3.Any act of sexual nature to abuse, humiliate or degrade you,
                     or which is otherwise<p>violative of your diginity or any other unwelcome conduct of sexual nature</p></i></td>
            </tr>
            <tr> 
                <td><i>4.Biting</i></td>
              
            </tr>

            <tr>  
                <td rowspan="15"><b>Mental Violence</b></td>
                <td><i>1.Insults</i></td>
            </tr>
            <tr> 
                <td><i>2.Name-callig</i></td>             
            </tr>
            <tr> 
                <td><i>3.Accusations on your character or conduct</i></td>
            </tr>
            <tr> 
                <td><i>4.Insults for not having a male child</i></td>
              
            </tr>
            <tr> 
                <td><i>5.Insults for not bringing dowry</i></td>
              
            </tr>
            <tr> 
                <td><i>6.Preventing tou or a child in your custody from attending school, college or any other educational institution</i></td>
              
            </tr>
            <tr> 
                <td><i>7.Preventing you from taking up a job</i></td>
              
            </tr>
            <tr> 
                <td><i>8.Forcing you to leave your job</i></td>
              
            </tr>
            <tr> 
                <td><i>9.Preventing you or a child in your custody from leaving the house</i></td>
            
            </tr>
            <tr> 
                <td><i>10.Preventing you from meeting any person in the normal course of events</i></td>
            
            </tr>
            <tr> 
                <td><i>11.Forcing you to get married when you do not want to marry</i></td>
            
            </tr>
            <tr> 
                <td><i>12.Preventing you from marrying a person of your own choice</i></td>
            
            </tr>
            <tr> 
                <td><i>13.Forcing you to marry a particular person of his/their own choice</i></td>
            
            </tr>
            <tr> 
                <td><i>14.A thread to commit suicide</i></td>
            
            </tr>
            <tr> 
                <td><i>15.Any other verbal or emotional abuse</i></td>
            
            </tr>
            <tr>  
                <td rowspan="11"><b>Economic Violence</b></td>
                <td><i>1.Not providig you money for maintaining you or your children</i></td>
            </tr>
            <tr> 
                <td><i>2.Not providing food, clothes, medicines etc. for you or your children </i></td>             
            </tr>
            <tr> 
                <td><i>3.Stopping you from carrying on your employment</i></td>
            </tr>
            <tr> 
                <td><i>4.Disturbing you in carrying on your employment</i></td>
              
            </tr>
            <tr> 
                <td><i>5.Not allowing you to take up an employment</i></td>
              
            </tr>
            <tr> 
                <td><i>6.Takig away your income from your salary, wages</i></td>
              
            </tr>
            <tr> 
                <td><i>7.Not allowing you to use your salary, wages</i></td>
              
            </tr>
            <tr> 
                <td><i>8.Forcing you out of the house you live in</i></td>
              
            </tr>
            <tr> 
                <td><i>9.Stopping you from accessing or using any part of the house</i></td>
            
            </tr>
            <tr> 
                <td><i>10.Not allowing the use of clothes, articles or things of general household use</i></td>
            
            </tr>
            <tr> 
                <td><i>11.Not paying rent if staying in rented accommodation</i></td>
            
            </tr>

    
        </table>
    </body>
</html>