<html>
    <head>
		{% load static %}
	</head>
        <link rel="stylesheet" href="{% static 'sample1.css' %}">
	</head>

	<div class="basic" >
		{% include "womencellheader.html" %}
	</div>


	
<div class="container" id="container">
	
	<div class="form-container sign-in-container">
		<form method="post" action="/view_compwmact2/">
			{% csrf_token %}
			<input type="text" placeholder="Complaint_id " name="Complaint_id"  value="{{items.Complaint_id}}"/><br>
            <label>Please ente your action</label>
            <input type="text" placeholder="action" name="action"  required/><br>
           
			<button>Submit</button>
			
				
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
		</div>
	</div>
</div>